body,
body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f4f9;
  color: #333;
  line-height: 1.6;
}

main {
  min-height: 100vh;
  padding: 5px;
  position: relative;
}

.header {
  background: linear-gradient(
    135deg,
    rgba(158, 187, 53, 0.85),
    rgba(116, 13, 13, 0.85)
  );
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.header:hover {
  transform: translateY(-5px);
}

.headerBoard {
  text-align: center;
  color: #fff;
  font-size: 1.75rem;
  font-weight: bold;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
  letter-spacing: 2px;
  transition: color 0.3s ease;
}

.headerBoard:hover {
  color: #ffffcc;
}

button {
  height: 3rem;
  width: 3rem;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  font-size: 1.5rem;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

.panel {
  display: flex;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(70, 180, 180, 0.75);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  gap: 50px;
}

.topPanel {
  margin-left: 65px;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 4rem;
  position: absolute;
  top: 10px;
  left: 20px;
}

.sidePanel {
  height: 250px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 4rem;
  position: absolute;
  top: 80px;
  left: 10px;
}
p {
  font-weight: bold;
  font-size: 1.5rem;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 2;
}
.container {
  padding: 5rem;
  display: flex;
  gap: 0.3rem;
}
.block {
  height: 3rem;
  width: 3rem;
  background-color: #69b44691;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}
.block:hover {
  background-color: rgba(57, 112, 31, 0.568);
  padding: 0.5rem;
}
.blockChecked {
  height: 3rem;
  width: 3rem;
  background-color: #35721991;
  border-radius: 5px;
  border: 3px solid #5a7c4a91;
}

.container > div {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
